<h1 class="display-1">Family Tree</h1>
    <div class="d-flex flex-row col-lg-4">
        <button type="button"
                class="btn btn-primary"
                style="width:100px"
                (click)="reloadFamilyTree()">
        <i class="bi bi-arrow-counterclockwise"></i>
        Load
        </button>
        <input 
            type="number"
            id="limit"
            name="limit"
            placeholder="Number of generations"
            class="form-control"
            [(ngModel)]="limitOfGenerations"
        />
    </div>
<br>
<app-tree-node [horse]="tree"/>

